.mainContent {
  position: relative;

}

.browser {
  list-style-type: none;
  background-color: white;
  padding-left: 5px;
  color: black;
  overflow-y: scroll;
  width: 150px;
  height: 600px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  top: 0px;
}

.browser li {
  height: 20px;
  overflow: hidden;
  border-bottom: 1px solid grey;
}

.active {
  background-color: #aaf;
}

.cropper {
  position: absolute;
  left: 200px;
  top: 16px;
}
